:root {
    --panel-bg-color: #8c8c8c;
    --text-background: #009933;
    --secondary-text-background: #00802b;
    --header-font-color: white;
    --paragraph-font-color: white;
}

p{
    font-size: 1.2em;
    color: var(--paragraph-font-color);
    background-color: var(--text-background);
    padding: 1rem;
    border-radius: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: 2px 2px black;
}

body {
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-image: "background.jpg";
    background-color: #cccccc;
}

body > div{
    color: var(--header-font-color);
    display: flex;
    border-radius: 1em;
}



div.top_panel{
    order: 0;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0.5em 1em;
}


div.top_panel > .button{
    background-color: var(--text-background);
    width: 21em;
    border-radius: 15px;
    border: none;
    color: var(--header-font-color);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em; 
}

@media (max-width: 900px) {
    div.top_panel {
        flex-wrap: wrap;
    }
    div.top_panel>.button {
        width:auto;
        margin-top: 0.5em;
    }
}

div.main_panel {
    order: 1;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

div.main_panel > #title {
    text-align: center;
    background-color: var(--text-background);
    border-radius: 1em;
    margin: 0 0.5em 0.5em;
    order: -1;
}

div.main_panel > #information {
    display: flex;
    flex-direction: row;
    
}

div.main_panel>#information>#photo{
    width: 50%;
    height: auto;
     margin-left: 0.5em;
     margin-right: 0.5em;
}

div.main_panel > #information > #photo > img {
    width: 100%;
    height: 100%;
    border: 10px;
    object-fit: contain;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}

div.main_panel > #information > #description {
    text-align: justify;
    margin-top: 1em;
}

@media (max-width: 900px){
    div.main_panel>#information{
        flex-direction: column;
        justify-content: center;
    }
}

div.main_panel > .project {
    display: grid;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: 25%, 75%;
    background-color: var(--secondary-text-background);
    padding: 1rem;
    border-radius: 1rem;
}

div.main_panel > .project > .project_screen{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 5em;
    object-fit: contain;
}

div.main_panel>.project>.project_title {
    grid-column: 2/3;
    grid-row: 1/2;
}

div.main_panel>.project>.project_description {
    grid-column: 2/3;
    grid-row: 2/3;
}

div.bottom_panel {
    order: 2;
    padding: 1%;
    height: 3em;
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
   
}

div.bottom_panel{
    height: 7em;
}

div.bottom_panel > #legalities {
    height: 3rem;
}

div.bottom_panel > #logo{
    height: 100%;
    border-radius: 4px;
    object-fit: contain;
}