:root {
    --panel-bg-color: rgba(140, 140, 140, 0.25);

    --text-background: #009933;
    --secondary-text-background: #00802b;
    --button-active-color: #003300;

    --header-font-color: white;
    --paragraph-font-color: white;
    --shadow-color: #595959;

    --spacing: 0.5rem;
    --font-size: 1vw;
    --h1-font-size: 3vw;
    --h2-font-size: 2wv;

    --media-rule-width: 900px;
}


@media (max-width: 900px) {
    :root {
        --spacing: 0.5rem;
        --font-size: 1rem;
        --h1-font-size: 3vw;
        --h2-font-size: 2wv;
    }
}

p{
    font-size: var(--font-size);
    color: var(--paragraph-font-color);
    padding: 1rem;
    margin:0;
    padding:0;
}

h1,h2 {
    text-shadow: 2px 2px black;
    padding: var(--spacing);
    margin: var(--spacing);
    padding:0;
}

h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: var(--h2-font-size);
}

html, body {
    background-image: url("background.jpg");
    background-position: center center;
    background-size: cover;

    background-color: var(--shadow-color);

    font-family: 'PT Sans', sans-serif;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
}

body > div,footer,header,article{
    color: var(--header-font-color);
    display: flex;
    background-color: var(--panel-bg-color);
    width: 100%;
}

.top_panel{
    order: 0;
    
    display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

    background-color: var(--text-background);
}

.top_panel > .button{
    background-color: var(--text-background);
    font-size: var(--font-size);
    border: none;
    color: var(--header-font-color);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 2px 2px var(--shadow-color);
    margin-right: 0.2em;
}

.top_panel > .button:hover {
    background-color: var(--button-active-color);
    transition: linear 0.2s;
}

.top_panel>.button:active {
    color: var(--shadow-color);
    transition: linear 0s;
    text-shadow: 0px 0px var(--shadow-color);
}

.top_panel>.button:focus {
    background-color: var(--button-active-color);
    transition: linear 0s;
    text-shadow: 0px 0px var(--shadow-color);
}

.main_panel {
    order: 1;
    display: flex;
    flex-direction: column;
}

.main_panel > #title {
    text-align: center;
    background-color: var(--text-background);
    border-radius: var(--spacing);
    margin: var(--spacing) var(--spacing) var(--spacing);
    order: -1;
}

.main_panel > #information {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main_panel > #information > #photo{
    width: 50%;
    height: auto;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.main_panel > #information > #photo > img {
    width: 100%;
    height: 100%;
    border: var(--spacing);
    object-fit: contain;
    -webkit-border-radius: var(--spacing);
    -moz-border-radius: var(--spacing);
    border-radius: var(--spacing);
}

.main_panel > #information > #description {
    text-align: justify;
    padding: var(--spacing);
    margin: var(--spacing);
    border-radius: var(--spacing);
    background-color: var(--secondary-text-background);
}

@media (max-width: 900px) {

    .top_panel{
        justify-content: space-around;
    }

    .main_panel > #information{
        flex-direction: column;
        justify-content: center;
    }

    .main_panel > #information > #photo{
        align-self: center;
    }
}

.main_panel > .project {
    display: flex;
    flex-flow: row;
    background-color: var(--secondary-text-background);
    padding: var(--spacing);
    margin: var(--spacing);
    border-radius: var(--spacing);
}

.main_panel > .project > .project_screen{
    width: 30%;
    height: auto;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.main_panel> .project > .project_screen > a > img {
    width: 100%;
    height: 100%;
    border: var(--spacing);
    object-fit: contain;
    -webkit-border-radius: var(--spacing);
    -moz-border-radius: var(--spacing);
    border-radius: var(--spacing);
}

.main_panel > .project > .project_info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: var(--spacing);
    margin: var(--spacing);
    border-radius: var(--spacing);
}

@media (max-width: 900px) {
    .main_panel > .project{
        flex-flow: column;
    }
    .main_panel > .project > .project_screen{
        align-self: center;
    }
}

.bottom_panel {
    order: 2;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
   
}

.bottom_panel > #legalities {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: var(--secondary-text-background);
}

.bottom_panel > #logo{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    height: 4em;
    object-fit: contain;
}